@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto" , sans-serifg;
}
body {
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.mx-auto {
  width: 500px;
}
